.img{
    background-image: url(https://i.pinimg.com/originals/55/01/60/5501609ee45d514d1f2c4a63502045e2.gif);
    width: 100%;
    height: 600px;
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
}
h1{
    color: white;
    text-align: center;
    margin-top: 20px;
    line-height: 50px;
    text-shadow: 2px 2px 2px rgb(47, 186, 255);
    text-decoration: underline black;

}
.nav{
    margin-left: 25%;
    margin-top: 100px;
    width: 600px;
    height: 50px;
    background-color: rgb(223, 234, 235);
    border-radius: 40px;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    padding-top:20px;
}
.nav a{
    text-decoration:none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    text-shadow: 2px 2px 2px rgb(47, 186, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav :hover{
    font-size: 25px;
}
.profile{
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    border-radius:50%;
    margin-top: 150px;
    margin-left: 45%;
}
#about{ 
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 600px;
    width: 100%;
    text-align: center;
    background-color: #d7e5e9;
}
#experience{ 
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 835px;
    width: 100%;
    text-align: center;
    background-color: #d7e5e9;
}
#project{ 
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 1255px;
    width: 100%;
    text-align: center;
    background-color: #d7e5e9;
}
#education{ 
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 1543px;
    width: 100%;
    text-align: center;
    background-color: #d7e5e9;
}
#contact{ 
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 1973px;
    width: 100%;
    text-align: center;
    background-color: #d7e5e9;
}
#skills{
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    top: 1755px;
    width: 100%;
    text-align: center;
    background-color: #d7e5e9;
}
.container{
    border-radius: 30px;
    position: relative;
    left: 25%;
    padding: 10px;
    width: 600px;
}
.container:hover{
    background-color:#edf5f8;
    text-shadow: 1px 1px 1px rgb(47, 186, 255);;
}